DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SUPERUSER_USERNAME=change-me
DJANGO_SUPERUSER_EMAIL=admin@example.test
DJANGO_SUPERUSER_PASSWORD=change-me
DB_NAME=mcomme_medoc
DB_USER=change-me
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432
NUXT_PUBLIC_GRAPHQL_ENDPOINT=
NUXT_PUBLIC_SITE_URL=http://localhost:3000
